<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CH07Lab</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CH07Lab.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">My Website</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link @(ViewData["Active"] as string == "Home" ? "active" : "")" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewData["Active"] as string == "About" ? "active" : "")" asp-controller="Home" asp-action="About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewData["Active"] as string == "Contact" ? "active" : "")" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Help" asp-controller="Home" asp-action="Index">Help</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <header>
            @RenderSection("Header", required: true)
        </header>
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>
